body {
    font-family: Arial, sans-serif;
    background-color: #d7e5ff;
}

h1 {
    color: #862020;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width : 600px;
    height: 750px;
    border: 8px solid #9d1178; /* 2 piksel kalınlığında siyah bir border ekler */
}

.container {
    text-align: center;
}

#image {
    width: 100%;
    max-width: 900px; 
    transition: width 0.5s; /* Kenar değişimini yumuşatmak için geçiş efekti */
}