body {
    font-family: Arial, sans-serif;
    background-color: #d7e5ff;
}

h1 {
    color: #862020;
}

.container {
    width: 80%;
    margin: 0 auto;
}

img {
    width : 400px;
    height: 450px;
    border: 8px solid #9d1178; /* 2 piksel kalınlığında siyah bir border ekler */
}
